.fullPizza {
  display: flex;
  align-items: flex-start;
  gap: 100px;
  padding: 60px;
  background-size: cover;

  img {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(253, 253, 253, 0.1);
  }

  .pizza-details {
    max-width: 600px;

    h2 {
      font-size: 32px;
      margin-bottom: 30px;
    }

    p {
      font-size: 26px;
      margin-bottom: 30px;
    }

    .pizza-block__selector {
      display: flex;
      gap: 2px;
      margin-bottom: 30px;

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 10px;

        li {
          padding: 8px 12px;
          background: #f3f3f3;
          border-radius: 10px;
          cursor: pointer;
          transition: 0.3s ease;

          &.active {
            background: #ffff;
            color: black;
          }

          &:hover {
            background: white;
          }
        }
      }
    }

    h4 {
      margin-bottom: 20px;
      font-size: 20px;
    }

    .button--add {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
